@charset "utf-8";
/*
  CONFIGURAÇÕES PARA APARELHO EM PÉ
*/
body{
    background-color: green;
    background: url('../imgs02/cev-portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}