@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
        min-height: 100vh;
        background-color: lightgray;

}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
   /* text-transform: uppercase; */
   font-variant: small-caps;
}
header > p {
    color: white;
    padding-bottom: 50px;
}
header > p > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header > p > a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.629);
    width: 400px;
    padding: 10px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 10px;
}
footer > p {
    color: white;
}
footer > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer > p > a:hover{
    text-decoration: underline;
}